{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="content">
        <h1 style="text-align: center;">Nasi Padang</h1>
        <br>
        <img src="{% static 'myapp/logo.jpg' %}" alt="logo" style="width: 20%; margin-left: 40%;">
        <br><br><br><br>
        <div class="container text-center">
            <div class="row">
              <div class="col">
                <div class="card" style="width: 12rem;">
                    <img src="{% static 'myapp/menu1.jpeg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Paket 1</h5>
                      <p class="card-text">Rp. 50.000</p>
                      <label for="quantity">Jumlah Produk:</label>
                      <input type="number" id="quantity" name="quantity" min="1" value="1" style="width: 50px;">
                      <br><br>
                      <a href="#" class="btn btn-primary">Order</a>
                    </div>
                  </div>
              </div>
              <div class="col">
                <div class="card" style="width: 12rem;">
                    <img src="{% static 'myapp/menu2.jpeg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Paket 2</h5>
                      <p class="card-text">Rp. 40.000</p>
                      <label for="quantity">Jumlah Produk:</label>
                      <input type="number" id="quantity" name="quantity" min="1" value="1" style="width: 50px;">
                      <br><br>
                      <a href="#" class="btn btn-primary">Order</a>
                    </div>
                  </div>
              </div>
              <div class="col">
                <div class="card" style="width: 12rem;">
                    <img src="{% static 'myapp/menu3.jpeg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Paket 3</h5>
                      <p class="card-text">Rp. 30.000</p>
                      <label for="quantity">Jumlah Produk:</label>
                      <input type="number" id="quantity" name="quantity" min="1" value="1" style="width: 50px;">
                      <br><br>
                      <a href="#" class="btn btn-primary">Order</a>
                    </div>
                  </div>
              </div>
              <div class="col">
                <div class="card" style="width: 12rem;">
                    <img src="{% static 'myapp/menu4.jpeg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Paket 4</h5>
                      <p class="card-text">Rp. 20.000</p>
                      <label for="quantity">Jumlah Produk:</label>
                      <input type="number" id="quantity" name="quantity" min="1" value="1" style="width: 50px;">
                      <br><br>
                      <a href="#" class="btn btn-primary">Order</a>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <br><br><br>
    </div>
{% endblock %}